.cover-image {
    display: flex;
    justify-content: center;
    max-width: 1206px;
    margin: 0 auto;
    align-items: center;
    padding-top: 1.5em;
}

.cover-image img {
    width: 100%;
    object-fit: cover;
}

.project-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
    text-align: center;
}

.project-section-title {
    font-size: 56px;
    font-weight: 700;
    padding-bottom: 38px;
    color: #0F0F0F;
}

.project-section-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-section-list strong {
    color: #0F0F0F;
}

.project-section-list li {
    font-size: 18px;
    margin: 0 20px;
    color: #333333;
}

.gl-project-background {
    background-color: #F6F8FD;
    margin: 0;
    min-width: 100%;
}

.project {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    max-width: 858px;
    margin: 0 auto;
    padding-bottom: 100px;
    text-align: left;
    color: #0F0F0F;
    line-height: 1.75;
}

.gl-project-title {
    color: #2B52D9;
    font-size: 32px;
}

.project p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
}

.button-prototype {
    display: block;
    width: fit-content;
    margin: 60px auto;
    align-items: center;
    justify-content: center;
    padding: 18px 48px;
    color: #0F0F0F;
    text-decoration: none;
    border: 2px solid #4D4D4D;
    border-radius: 54px;
    font-size: 18px;
    font-weight: 600;
}

.button-prototype:hover {
    background-color: #2B52D9;
    border: 2px solid #2B52D9;
    transition: ease-in-out 0.3s;
    color: #F2F2F2;
}

.button-prototype:focus {
    outline: none;
}

.more-projects {
    display: flex;
    margin: 0 auto;
    padding: 180px 0;
    max-width: 1200px;
    justify-content: center;
}

.more-projects-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
    color: #57575B;
}

.gl-competitors {
    max-width: 858px;
    margin: 0 auto;
    padding-top: 64px;
    line-height: 1.75;
    color: #0F0F0F;
}

.gl-competitors p {
    margin: 20px 0 48px 0;
    font-size: 18px;
}

.project {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    max-width: 858px;
    margin: 0 auto;
    padding-bottom: 100px;
    text-align: left;
    color: #0F0F0F;
    line-height: 1.75;
}

.project p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
}

.project-title {
    font-size: 18px;
    font-weight: 500;
    color: #57575B;
    text-align: center;
    margin: 16px 0;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
}

.project-item {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.project-item:hover {
    transform: scale(1.05);
}

.project-item a {
    text-decoration: none;
}

.project-item img {
    width: 100%;
    display: block;
    border-radius: 18px;
}

.gl-research {
    max-width: 858px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.gl-research h2 {
    margin: 76px 0 0 0;
}

.gl-research p {
    margin: 24px 0 38px 0;
    max-width: 500px;
    color: #0F0F0F
}

.gl-research img {
    margin-bottom: 74px;
}

.gl-users {
    max-width: 858px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.gl-users-background {
    background-color: #F6F8FD;
    padding-top: 68px;
    padding-bottom: 132px;
}

.prototype-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 600px;
    text-align: center;
    padding-top: 54px;
}

.prototype-button-container img {
    margin-top: 36px;
}

.gl-wireframes-title {
    margin: 100px auto 0 auto;
    max-width: 858px;
    text-align: center;
}

.gl-wireframes-title h2 {
    margin-bottom: 16px;
}

.gl-elements {
    max-width: 858px;
    margin: 0 auto;
    text-align: center;
}

.gl-elements-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin: 136px 0;
}

.gl-text-container {
    max-width: 500px;
    text-align: left;
}

.gl-wireframe-postings {
    width: 322px;
    height: 488px;
}

.gl-element-title {
    color: #2B52D9;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    margin: 8px 0 20px 0;
}

.gl-element-text {
    color: #57575B;
    font-size: 18px;
    line-height: 1.75;
    text-align: left;
}

.gl-elements-container-reversed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin: 136px 0;
}

.gl-text-container-reversed {
    max-width: 500px;
    text-align: right;
}

.gl-wireframe-applicants {
    width: 322px;
    height: 488px;
}

.more-projects {
    display: flex;
    margin: 0 auto;
    padding: 180px 0;
    max-width: 1200px;
    justify-content: center;
}

.more-projects-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
    color: #57575B;
}

.project-title {
    font-size: 18px;
    font-weight: 500;
    color: #57575B;
    text-align: center;
    margin: 16px 0;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
}

.project-item {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.project-item:hover {
    transform: scale(1.05);
}

.project-item a {
    text-decoration: none;
}

.project-item img {
    width: 100%;
    display: block;
    border-radius: 18px;
}


@media only screen and (max-width: 480px) {
    .project-section {
        padding: 32px 0;
    }

    .project-section-title {
        padding-bottom: 18px;
    }

    .project-section-list {
        display: block;
    }

    .project-section-list li {
        margin: 8px 0;
    }

    .project {
        max-width: 90%;
    }

    img {
        width: 100%;
    }


    .more-projects {
        padding-top: 120px;
    }

    .project-list {
        flex-direction: column;
        max-width: 90%;
    }

    .gl-competitors {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: 28px;
        text-align: center;
    }

    .gl-competitors p {
        max-width: 90%;
        text-align: center;
    }

    .gl-research p {
        max-width: 90%;
    }

    .gl-users {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gl-users h2 {
        padding-bottom: 24px;
    }

    .gl-wireframes-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gl-wireframes-title p {
        text-align: center;
        max-width: 90%;
    }

    .gl-elements-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gl-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 90%;
    }

    .gl-text-container p {
        text-align: center;
        max-width: 90%;
    }

    .gl-elements-container-reversed {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 40px;
    }

    .gl-text-container-reversed {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 90%;
    }

    .gl-text-container-reversed p {
        text-align: center;
        max-width: 90%;
    }
}