
.cover-image {
    display: flex;
    justify-content: center;
    max-width: 1206px;
    margin: 0 auto;
    align-items: center;
    padding-top: 1.5em;
}

    .cover-image img {
        width: 100%;
        object-fit: cover;
    }

.project-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

.project-section-title {
    font-size: 56px;
    font-weight: 700;
    padding-bottom: 38px;
    color: #0F0F0F;
}

.project-section-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .project-section-list strong {
        color: #0F0F0F;
    }

    .project-section-list li {
        font-size: 18px;
        margin: 0 20px;
        color: #333333;
    }

.uno-project-background {
    background-color: #F6F8FD;
    margin: 0;
    min-width: 100%;
}

.project {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    max-width: 858px;
    margin: 0 auto;
    padding-bottom: 100px;
    text-align: left;
    color: #0F0F0F;
    line-height: 1.75;
}

.uno-project-title {
    color: #2B52D9;
    font-size: 32px;
}

.project p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;

}

.button-prototype {
    display: block;
    width: fit-content;
    margin: 60px auto;
    align-items: center;
    justify-content: center;
    padding: 18px 48px;
    color: #0F0F0F;
    text-decoration: none;
    border: 2px solid #4D4D4D;
    border-radius: 54px;
    font-size: 18px;
    font-weight: 600;
}

    .button-prototype:hover {
        background-color: #2B52D9;
        border: 2px solid #2B52D9;
        transition: ease-in-out 0.3s;
        color: #F2F2F2;
    }

.button-prototype:focus {
    outline: none;
}
.more-projects {
    display: flex;
    margin: 0 auto;
    padding: 180px 0;
    max-width: 1200px;
    justify-content: center;
}

.more-projects-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
    color: #57575B;
}

.project-title {
    font-size: 18px;
    font-weight: 500;
    color: #57575B;
    text-align: center;
    margin: 16px 0;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
}

.project-item {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.project-item:hover {
    transform: scale(1.05);
}

.project-item a {
    text-decoration: none;

}

    .project-item img {
        width: 100%;
        display: block;
        border-radius: 18px;
    }

.uno-competitors {
    max-width: 858px;
    margin: 0 auto;
    padding-top: 64px;
    line-height: 1.75;
    color: #0F0F0F;
}

    .uno-competitors p {
        margin: 20px 0 48px 0;
        font-size: 18px;
    }

.uno-feedback {
    max-width: 858px;
    margin: 0 auto;
    padding-top: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uno-feedback h2{
    margin-bottom : 38px;
    text-align: center;
}

.uno-says {
    max-width: 858px;
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 132px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.uno-says h2{
    padding-bottom: 42px;
    text-align: center;
}

.uno-says img {
    align-items: center;
}

.uno-says-background {
    background-color: #F6F8FD;
    margin: 0;
    min-width: 100%;
    margin-top: 60px;
}

.uno-onboarding {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 320px;
}

.uno-onboarding-container {
    background-color: #D5DFF6;
}

.uno-crafting {
    max-width: 1366px;
}

.uno-onboarding-images {
    max-width: 468px;
    min-height: 482px;
    position: absolute;
    top: 242px;
}

.uno-elements {
    max-width: 858px;
    margin: 0 auto;
    text-align: center;
}

.uno-elements-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin: 136px 0;
}

.uno-text-container {
    max-width: 500px;
    text-align: left;
}

.uno-screen-features {
    height: 515px;
    width: 238px;
    box-shadow: 0 4px 14px rgba(37, 37, 37, 0.25);
}

.uno-element-subtitle {
    color: #6883E4;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.uno-element-title {
    color: #2E3135;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    margin: 8px 0 20px 0;
}

.uno-element-text {
    color: #57575B;
    font-size: 18px;
    line-height: 1.75;
    text-align: left;
}

.uno-elements-container-reversed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin: 136px 0;
}

.uno-screen-progress {
    height: 50px;
    width: 338px;
}

.uno-text-container-reversed {
    max-width: 500px;
    text-align: right;
}

.prototype-title {
    color: #2B52D9;
    font-size: 26px;
}

.prototype-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 600px;
    text-align: center;
    padding-top: 54px;
}

    .prototype-button-container img {
        margin-top: 36px;
    }
